@import url('/src/assets/fonts/stylesheet.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .active {
        @apply bg-white rounded-full text-black
    }
    .step-card {
        @apply md:row-span-2 flex flex-col gap-5 p-5 max-w-[500px]
    }
    .text-input {
        @apply text-input-text p-2 border border-border-input rounded-md focus:outline focus:outline-ring-input focus:-outline-offset-2 ring-1 focus:ring-2 ring-border-input focus:ring-base-color
    }
}

@layer utilities {
    .nav-content {
        width: 100%;
        border-radius: 50px;
    }

    .nav-content .border-animation-inner {
        /*padding: 25px;*/
        background: theme('colors.base-background');
        color: theme('colors.onsurface');
        border-radius: 50px;
    }

    .border-animation-wrapper {
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .border-animation-wrapper .border-animation-inner {
        position: relative;
        z-index: 1;
        width: 100%;
        margin: 4px;
    }

    .border-animation-wrapper::before {
        content: "";
        display: block;
        background: linear-gradient(
                90deg,
                rgba(255, 255, 255, 0) 0%,
                theme('colors.shadow') 50%,
                rgba(255, 255, 255, 0) 100%
        );
        height: 2000px;
        width: 80px;
        transform: translate(0);
        position: absolute;
        animation: rotate 3s linear forwards infinite;
        z-index: 0;
        transform-origin: center;
    }

    @keyframes rotate {
        from {
            transform: rotate(0);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .cursor-icon::after {
        content: "";
        width: 25px;
        height: 25px;
        position: absolute;
        background-image: url("/src/assets/icons/pointer.svg");
        background-size: contain;
        background-repeat: no-repeat;
        transform: translateX(75%) translateY(-15%);
    }

    .scroll-icon-animation::before {
        content: "";
        width: 5px;
        height: 5px;
        border-radius: 50px;
        top: 8px;
        left: 8px;
        position: absolute;
        background-color: theme('colors.base-color');
        animation: goto-bottom 2s infinite ease;
    }

    @keyframes goto-bottom {
        0%{
            opacity: 1;
        }
        100%{
            transform: translateY(15px);
            opacity: 0;
        }
    }

    .underline-animation{
        position: relative;
    }

    .underline-animation::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: theme('colors.onsurface');
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: opacity 500ms;
    }

    .underline-animation:hover::after, .underline-animation.hovered::after {
        opacity: 1;
    }

    .trapezoid {
        margin: 0 50px;
    }

    .trapezoid::before {
        content: "";
        position: absolute;
        top: 0;
        left: -50px;
        width: 50px;
        height: 100%;
        background: linear-gradient(to bottom left, theme('colors.background') 0%, theme('colors.background') 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
    }
    .trapezoid::after {
        content: "";
        position: absolute;
        top: 0;
        right: -50px;
        width: 50px;
        height: 100%;
        background: linear-gradient(to bottom right, theme('colors.background') 0%, theme('colors.background') 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
    }

    .navbar-underline {
        position: relative;
    }

    .navbar-underline::after {
        content: "";
        width: 30px;
        height: 5px;
        background-color: theme('colors.base-color');
        position: absolute;
        bottom: 0;
        left: calc(50% - 15px);
        transform: translateY(9px);
        border-radius: 25px;
        opacity: 0;
        transition: opacity 500ms;
    }

    .navbar-underline-active::after {
        opacity: 1;
    }

    .button-lets-connect-border:hover {
        background: rgba(20, 84, 203, 0.12);
    }
    .button-lets-connect-border {
        background: rgba(20, 84, 203, 0);
    }
    .button-lets-connect {
        border: 1px solid theme('colors.base-color');
        border-radius: 17px;
    }

    .button-lets-connect:hover {
        background: radial-gradient(50% 50% at 50% 50%, #9DB3DA 0%, #1352C6 100%);
        box-shadow:
                -20px -17px 24px -16px rgba(255, 255, 255, 0.24) inset,
                20px -8px 32px 0px rgba(255, 255, 255, 0.22) inset,
                0px 0px 12px 0px rgba(0, 0, 0, 1) inset,
                0px 36px 32px -16px rgba(21, 81, 191, 0.21),
                0px 6px 16px -8px rgba(20, 84, 203, 0.12),
                0px 2px 4px -8px rgba(20, 84, 203, 0.08);
        position: relative;
        overflow: hidden;
        border: none;
    }

    .button-lets-connect:hover::after {
        content: "";
        width: 200px;
        height: 50px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(170, 200, 255, 1) 0%, rgba(255,255,255,0) 100%) ;
        position: absolute;
        bottom: -20px;
        left: calc(50% - 100px);
    }

    ul {
        margin: 0;
    }
    ul.dashed {
        list-style-type: none;
    }
    ul.dashed > li {
        text-indent: -17px;
    }
    ul.dashed > li:before {
        content: "-";
        text-indent: -17px;
        margin-right: 10px;
    }
    ul.dashed-2 {
        list-style-type: none;
    }
    ul.dashed-2 > li {
        text-indent: 0;
    }
    ul.dashed-2 > li:before {
        content: "-";
        text-indent: 0;
        margin-right: 10px;
    }
    ul.dotted {
        list-style-type: none;
    }
    ul.dotted > li {
        text-indent: 13px;
    }
    ul.dotted > li:before {
        content: "•";
        text-indent: 13px;
        margin-right: 10px;
    }
    ul.dotted-outside {
        list-style-position: outside;
    }
    ul.dotted-outside > li {
        padding-inline-start: 1ch;
        list-style-type: "•";
    }

    .bg-image-10-darken{
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/src/assets/backgrounds/image 10.svg');
    }

    .blue-bullet::before {
        content: "";
        width: 10px;
        height: 10px;
        background-color: theme('colors.bullet');
        border-radius: 50%;
        display: inline-block;
        margin-right: 10px;
    }

    .inner-shadow-bottom {
        position: relative;
    }
    .inner-shadow-bottom::before {
        content: "";
        position: absolute;
        border-radius: 1rem;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(0deg, rgba(0,0,0,0.8) 1%, rgba(0,0,0,0) 25%);
        opacity: 0;
        transition: opacity 500ms;
    }
    .inner-shadow-bottom:hover::before {
        opacity: 1;
    }

    @keyframes inAnimation {
        0% {
            opacity: 0;
            max-height: 0px;
        }
        100% {
            opacity: 1;
            max-height: 600px;
        }
    }

    @keyframes outAnimation {
        0% {
            opacity: 1;
            max-height: 600px;
        }
        100% {
            opacity: 0;
            max-height: 0px;
        }
    }
}