@import url('/src/assets/fonts/stylesheet.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .active {
        @apply bg-white rounded-full text-black
    }
}

@layer utilities {
    .nav-content {
        width: 100%;
        border-radius: 50px;
    }

    .nav-content .border-animation-inner {
        /*padding: 25px;*/
        background: theme('colors.base-background');
        color: theme('colors.onsurface');
        border-radius: 50px;
    }

    .border-animation-wrapper {
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .border-animation-wrapper .border-animation-inner {
        position: relative;
        z-index: 1;
        width: 100%;
        margin: 4px;
    }

    .border-animation-wrapper::before {
        content: "";
        display: block;
        background: linear-gradient(
                90deg,
                rgba(255, 255, 255, 0) 0%,
                theme('colors.shadow') 50%,
                rgba(255, 255, 255, 0) 100%
        );
        height: 2000px;
        width: 80px;
        transform: translate(0);
        position: absolute;
        animation: rotate 3s linear forwards infinite;
        z-index: 0;
        transform-origin: center;
    }

    @keyframes rotate {
        from {
            transform: rotate(0);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .cursor-icon::after {
        content: "";
        width: 25px;
        height: 25px;
        position: absolute;
        background-image: url("/src/assets/icons/pointer.svg");
        background-size: contain;
        background-repeat: no-repeat;
        transform: translateX(75%) translateY(-15%);
    }

    .scroll-icon-animation::before {
        content: "";
        width: 5px;
        height: 5px;
        border-radius: 50px;
        top: 8px;
        left: 8px;
        position: absolute;
        background-color: theme('colors.base-color');
        animation: goto-bottom 2s infinite ease;
    }

    @keyframes goto-bottom {
        0%{
            opacity: 1;
        }
        100%{
            transform: translateY(15px);
            opacity: 0;
        }
    }

    .underline-animation::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: theme('colors.onsurface');
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: opacity 500ms;
    }

    .underline-animation:hover::after {
        opacity: 1;
    }

    .trapezoid {
        margin: 0 50px;
    }

    .trapezoid::before {
        content: "";
        position: absolute;
        top: 0;
        left: -50px;
        width: 50px;
        height: 100%;
        background: linear-gradient(to bottom left, theme('colors.background') 0%, theme('colors.background') 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
    }
    .trapezoid::after {
        content: "";
        position: absolute;
        top: 0;
        right: -50px;
        width: 50px;
        height: 100%;
        background: linear-gradient(to bottom right, theme('colors.background') 0%, theme('colors.background') 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
    }

    .navbar-underline {
        position: relative;
    }

    .navbar-underline::after {
        content: "";
        width: 30px;
        height: 5px;
        background-color: theme('colors.base-color');
        position: absolute;
        bottom: 0;
        left: calc(50% - 15px);
        transform: translateY(9px);
        border-radius: 25px;
        opacity: 0;
        transition: opacity 500ms;
    }

    .navbar-underline-active::after {
        opacity: 1;
    }
}